html body {
    background-color: rgb(249, 249, 247);
    font-family: "Arial Unicode MS", Arial, sans-serif;
}

.wrapper {
    display: flex;
}

#sidebar {
    width: 16em;
    height: 100vw;
    padding-top: 1.25rem;
    font-size: 16px;
    font-weight: bold;
    background: rgb(242, 240, 236) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAMklEQVR42gXBWwoAEBRAQfvfnnwoJa+65G0Bx4x6u/NW407h9MKqiSGekR0tWmowiNd8/7klFoQrOKYAAAAASUVORK5CYII=") -0px -0px repeat-y;
    background-position: right;
}

#sidebar-title {
    font-size: 22px;
    margin: 0 0 10px 19.5px;
}

#dbclogo {
     margin: 7px 19.5px;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul a {
    color: black;
}

#sidebar ul a:hover {
    text-decoration: none;
}

#main {
    float: right;
    width: 85%;
    margin: 6px;
}

input[type=text] {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    resize: vertical;
    width: 100%;
}

button {
    background-color: rgb(129, 169, 50);
    color: rgb(255, 255, 255)!important;
    border-color: rgb(204, 204, 204);
    border-radius: 6px;
    border-style: outset;
    border-width: 1px;
    display: inline-block;
    font-size: 12px!important;
    padding: 3px 5px;
    margin-right: 1em!important;
}

button:hover {
    border-color: #9cf #69e #69e #7af;
}

button.save-button {
    background-color: rgb(129, 169, 50);
}

button.delete-button {
    background: OrangeRed none;
}

button.action-button {
    background: #f47321 none;
}

tr:nth-child(even) {
    background: #f3f7fb;
}

tr:nth-child(odd) {
    background: #fff;
}

td {
    font-size: small;
    padding: 2px 15px!important;
    overflow: hidden;
}

.error {
    color: red;
    font-size: 130%;
}

.breadcrumb-title {
    color: rgb(129, 169, 50);
    font-family: "Trebuchet MS", serif;
    font-size: 14px;
    padding: 6px;
    border-bottom: solid 2px slategray;
    margin-bottom: 1em;
}

.form-group label {
    font-family: "Arial Unicode MS", Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    width: 14em;
}

.form-group input {
    width: 20em;
    font-size: 13px;
    display: inline-block;
    padding: 2px;
    border: 2px solid gray;
}

.harvester-table {
    margin-top: 1em;
}

.harvester-table th {
    border-bottom: 2px solid #6f7277;
    padding: 3px 15px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
}

.form-group .__react_component_tooltip {
    width: 40em;
}

.help-title {
    font-weight: bold;
}

.help-text {
}

.help-indent {
    margin-left: 2em;
}

.center {
    text-align: center;
}

